

<%= form_for(@task, html: {class: "form-horizontal"}) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <div class = "alert alert-danger"><h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

  <ul>
    <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
</div>
<% end %>

<div class="form-group">
  <div class="field">
    <div class="control-label col-md-2">
      <%= f.label :description %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <div class="control-label col-md-2">
      <%= f.label :due_date %>
    </div>
    <div class="col-md-4">
      <%= f.date_select :duedate, class:"form-control" %>
    </div>
  </div>
</div>

<% unless @task.new_record? %>
<div class="form-group">
  <div class="field">
    <div class="control-label col-md-2">
      <%= f.label :completed %>
    </div>
    <div class="col-md-4">
      <%= f.check_box :completed %>
    </div>
  </div>
</div>
<% end %>

<div class="form-group">
  <div class="actions col-md-offset-2 col-md-4">
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', tasks_path, class:"btn btn-default" %>
  </div>
</div>

<% end %>
