<div class='page-header'>
  <div class='pull-right'>
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info"%>
  </div>

  <h1><%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href='/projects'>Projects</a></li>
  <li class= 'active'><%= @project.name %></li>
</ol>

<h4> <%= link_to "#{pluralize(@project.tasks.count, "Task")}", project_tasks_path(@project) %> </h4>
<h4><%= link_to "#{pluralize(@project.memberships.count, "Membership")}", project_memberships_path(@project) %></h4>

<% if owner? || admin? %>
<div class="well">
  <p><strong>Delete Project</strong></p>
  <p>
    <%= "Deleting this project will also delete #{pluralize(@project.memberships.count, "membership")}, #{pluralize(@project.tasks.count, "task")} and associated comments." %>
  </p>
    <%= link_to "Delete", @project, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
</div>
<% end %>
