<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RedUp</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'Dino.png' %>
</head>
<body data-spy="scroll" data-target="#myScrollspy" class="">

  <!-- Fixed Nav -->
  <nav class="navbar navbar-default navbar-fixed-top" id="myScrollspy">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
          <li><%= link_to current_user.full_name, user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', logout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to 'Sign In', login_path %></li>
          <% end %>
        </ul>
      </div>


      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#spydesingers">Home</a></li>
          <li><a href="#spydesingers">Designers</a></li>
          <li><a href="#spydevelopers">Developers</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Resources <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "FAQ", faq_path %></li>
              <li><%= link_to "Users", users_path%></li>

              <li>
                <% if current_user %>
                <%= link_to "Projects", projects_path %>
                <% else %>
                <%= link_to "Projects", root_path %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Close Fixed Nav -->


  <%= yield %>

  <!-- Footer -->
  <footer>

    <!-- Back to top link -->
    <a href="#spytop" class="top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <!-- //Close Back to top link -->

    <div class="container">
      <h2>Footer</h2>
    </div>
  </footer>
  <!-- //Close Footer -->

</body>
</html>
