<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RedUp</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'Dino.png' %>
</head>
<body>
  <div class="welcome">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
          <a class="navbar-brand" href="/projects/">RedUp</a>
          <% else %>
          <a class="navbar-brand" href="/">RedUp</a>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="hamburger">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><%= link_to current_user.full_name, user_path(current_user) %></li>
            <li><%= link_to 'Sign Out', logout_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to 'Sign In', login_path %></li>
            <% end %>
            <li><%= link_to "About", about_path %>
            </li>
            <li><%= link_to "Terms", terms_path %>
            </li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Users", users_path%></li>
            <li><%= link_to "Projects", projects_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
      <% end %>


      <%= yield %>
      <hr>

      <footer>
        <div class="row text-center">
          <div class="text-center"></div>
          <div class="col-sm-3">
            <a href="https://www.linkedin.com/in/jessicalkoch">
              <i class="fa fa-linkedin fa-2x"></i></a>
            </div>

            <div class="col-sm-2">
              <a href="https://twitter.com/Jess__Koch">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </div>

            <div class="col-sm-2">
              <a href="https://github.com/jessica-koch">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>

            <div class="col-sm-2">
              <a href="https://students.galvanize.com/people/205">
                <i class="fa fa-diamond fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>

</body>
</html>
