<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gCamp</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'Dino.png' %>
  <link href="/assets/application-616d304b5c419903c7457e67c834e0c9.css" media="screen" rel="stylesheet">
  <meta content="authenticity_token" name="csrf-param">
  <meta content="fmYs7p9D6p3c8T8v1iKUtu9VyB7tvwGzOKNV81eNecQ=" name="csrf-token">
  <script src="/assets/application-05378627da91e716e4a92271d3d6dd45.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'gCamp', projects_path, class: "navbar-brand" %>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to current_user.full_name, user_path(current_user) %></li>
        <li><%= link_to 'Sign Out', logout_path %></li>
        <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to 'Sign In', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
    <% end %>
    <%= yield %>
    <hr>

    <footer>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "About", about_path %>
          |
          <%= link_to "Terms", terms_path %>
          |
          <%= link_to "FAQ", faq_path %>
          |
          <%= link_to "Users", users_path%>
          |
          <%= link_to "Projects", projects_path %>
        </div>

        <div class="col-md-6 text-right">
          <a href="https://www.linkedin.com">
            <%= image_tag "link.jpg", class: "img-footer" %>
          </a>
          <a href="https://github.com/">
            <%= image_tag "GitHub-de8164cc6a609537cfdab331e002ebb3.png", class: "img-footer" %>
          </a>
          <a href="https://twitter.com/">
            <%= image_tag "Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png", class: "img-footer" %>
          </a>
          <a href="https://students.gschool.it/">
            <%= image_tag "galvanize-g-b3da24895ed7d4fd33c43d9226c16242.png", class: "img-footer" %>
          </a>
        </div>
      </div>
    </footer>

  </div>


</body>
</html>
